{
  "openapi": "3.1.0",
  "info": {
    "title": "Authlane Control Plane API",
    "version": "1.0.0",
    "description": "Configure tenant services, connect external users, read connection state, and obtain user-scoped tool definitions. Authlane is a control plane: provider tool traffic goes directly from the SaaS runtime to each provider and never passes through this API.",
    "license": {
      "name": "MIT",
      "identifier": "MIT"
    }
  },
  "servers": [
    {
      "url": "https://app.authlane.io",
      "description": "Authlane Cloud"
    },
    {
      "url": "http://localhost:3000",
      "description": "Local development"
    }
  ],
  "tags": [
    {
      "name": "Catalog"
    },
    {
      "name": "Connections"
    },
    {
      "name": "Tools"
    },
    {
      "name": "Connect sessions"
    },
    {
      "name": "Hosted connect"
    },
    {
      "name": "OAuth"
    }
  ],
  "security": [
    {
      "ApiKey": []
    }
  ],
  "paths": {
    "/api/v1/catalog/services": {
      "get": {
        "tags": [
          "Catalog"
        ],
        "operationId": "listCatalogServices",
        "summary": "List tenant-enabled services",
        "x-authlane-scope": "catalog:read",
        "responses": {
          "200": {
            "description": "Tenant service catalog",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Maximum requests in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining requests in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp when the current window resets.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "error"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "name",
                          "authType",
                          "enabled"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "authType": {
                            "type": "string",
                            "enum": [
                              "oauth2",
                              "api_key"
                            ]
                          },
                          "enabled": {
                            "type": "boolean"
                          }
                        }
                      }
                    },
                    "error": {
                      "type": "null"
                    }
                  }
                },
                "examples": {
                  "catalog": {
                    "summary": "Tenant-enabled services",
                    "value": {
                      "data": [
                        {
                          "id": "github",
                          "name": "GitHub",
                          "authType": "oauth2",
                          "enabled": true,
                          "config": {}
                        },
                        {
                          "id": "slack",
                          "name": "Slack",
                          "authType": "oauth2",
                          "enabled": true,
                          "config": {}
                        }
                      ],
                      "error": null
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authlane request error",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Maximum requests in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining requests in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp when the current window resets.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "error"
                  ],
                  "properties": {
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        },
                        "hint": {
                          "type": "string"
                        },
                        "docUrl": {
                          "type": "string",
                          "format": "uri"
                        },
                        "statusCode": {
                          "type": "integer",
                          "minimum": 100,
                          "maximum": 599
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "error": {
                    "summary": "Supabase-style request error",
                    "value": {
                      "data": null,
                      "error": {
                        "message": "Invalid external user ID",
                        "code": "VALIDATION_ERROR",
                        "hint": "Use the external user ID from your authenticated SaaS session.",
                        "docUrl": "https://authlane.io/docs/api-reference",
                        "statusCode": 400
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Authlane request error",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Maximum requests in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining requests in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp when the current window resets.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "error"
                  ],
                  "properties": {
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        },
                        "hint": {
                          "type": "string"
                        },
                        "docUrl": {
                          "type": "string",
                          "format": "uri"
                        },
                        "statusCode": {
                          "type": "integer",
                          "minimum": 100,
                          "maximum": 599
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "error": {
                    "summary": "Supabase-style request error",
                    "value": {
                      "data": null,
                      "error": {
                        "message": "Invalid external user ID",
                        "code": "VALIDATION_ERROR",
                        "hint": "Use the external user ID from your authenticated SaaS session.",
                        "docUrl": "https://authlane.io/docs/api-reference",
                        "statusCode": 400
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Maximum requests in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining requests in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp when the current window resets.",
                "schema": {
                  "type": "integer"
                }
              },
              "Retry-After": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "error"
                  ],
                  "properties": {
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        },
                        "hint": {
                          "type": "string"
                        },
                        "docUrl": {
                          "type": "string",
                          "format": "uri"
                        },
                        "statusCode": {
                          "type": "integer",
                          "minimum": 100,
                          "maximum": 599
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "rateLimited": {
                    "summary": "Rate limit exceeded",
                    "value": {
                      "data": null,
                      "error": {
                        "message": "Rate limit exceeded",
                        "code": "RATE_LIMIT_EXCEEDED",
                        "hint": "Maximum 100 requests per 60 seconds",
                        "docUrl": "https://authlane.io/docs/api-reference/authentication",
                        "statusCode": 429
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/{externalUserId}/connections": {
      "get": {
        "tags": [
          "Connections"
        ],
        "operationId": "listUserConnections",
        "summary": "List effective connection states",
        "description": "Includes tenant-enabled services that are not yet connected.",
        "x-authlane-scope": "connections:read",
        "parameters": [
          {
            "name": "externalUserId",
            "in": "path",
            "required": true,
            "description": "Opaque 1–255 character identifier from the authenticated SaaS session.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 255
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Connection state snapshot",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Maximum requests in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining requests in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp when the current window resets.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "error"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "serviceId",
                          "status",
                          "connected",
                          "expiresAt"
                        ],
                        "properties": {
                          "serviceId": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "disconnected",
                              "pending",
                              "connected",
                              "expired",
                              "error"
                            ]
                          },
                          "connected": {
                            "type": "boolean"
                          },
                          "expiresAt": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "format": "date-time"
                          },
                          "connectedAt": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "format": "date-time"
                          },
                          "lastCheckedAt": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "format": "date-time"
                          },
                          "errorCode": {
                            "type": [
                              "string",
                              "null"
                            ]
                          }
                        }
                      }
                    },
                    "error": {
                      "type": "null"
                    }
                  }
                },
                "examples": {
                  "connections": {
                    "summary": "Effective connection states for one external user",
                    "value": {
                      "data": [
                        {
                          "serviceId": "github",
                          "status": "connected",
                          "connected": true,
                          "expiresAt": "2026-08-01T12:00:00.000Z",
                          "connectedAt": "2026-07-18T10:00:00.000Z",
                          "lastCheckedAt": null,
                          "errorCode": null
                        },
                        {
                          "serviceId": "slack",
                          "status": "disconnected",
                          "connected": false,
                          "expiresAt": null,
                          "connectedAt": null,
                          "lastCheckedAt": null,
                          "errorCode": null
                        }
                      ],
                      "error": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Authlane request error",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Maximum requests in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining requests in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp when the current window resets.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "error"
                  ],
                  "properties": {
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        },
                        "hint": {
                          "type": "string"
                        },
                        "docUrl": {
                          "type": "string",
                          "format": "uri"
                        },
                        "statusCode": {
                          "type": "integer",
                          "minimum": 100,
                          "maximum": 599
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "error": {
                    "summary": "Supabase-style request error",
                    "value": {
                      "data": null,
                      "error": {
                        "message": "Invalid external user ID",
                        "code": "VALIDATION_ERROR",
                        "hint": "Use the external user ID from your authenticated SaaS session.",
                        "docUrl": "https://authlane.io/docs/api-reference",
                        "statusCode": 400
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authlane request error",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Maximum requests in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining requests in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp when the current window resets.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "error"
                  ],
                  "properties": {
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        },
                        "hint": {
                          "type": "string"
                        },
                        "docUrl": {
                          "type": "string",
                          "format": "uri"
                        },
                        "statusCode": {
                          "type": "integer",
                          "minimum": 100,
                          "maximum": 599
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "error": {
                    "summary": "Supabase-style request error",
                    "value": {
                      "data": null,
                      "error": {
                        "message": "Invalid external user ID",
                        "code": "VALIDATION_ERROR",
                        "hint": "Use the external user ID from your authenticated SaaS session.",
                        "docUrl": "https://authlane.io/docs/api-reference",
                        "statusCode": 400
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Authlane request error",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Maximum requests in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining requests in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp when the current window resets.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "error"
                  ],
                  "properties": {
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        },
                        "hint": {
                          "type": "string"
                        },
                        "docUrl": {
                          "type": "string",
                          "format": "uri"
                        },
                        "statusCode": {
                          "type": "integer",
                          "minimum": 100,
                          "maximum": 599
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "error": {
                    "summary": "Supabase-style request error",
                    "value": {
                      "data": null,
                      "error": {
                        "message": "Invalid external user ID",
                        "code": "VALIDATION_ERROR",
                        "hint": "Use the external user ID from your authenticated SaaS session.",
                        "docUrl": "https://authlane.io/docs/api-reference",
                        "statusCode": 400
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Maximum requests in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining requests in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp when the current window resets.",
                "schema": {
                  "type": "integer"
                }
              },
              "Retry-After": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "error"
                  ],
                  "properties": {
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        },
                        "hint": {
                          "type": "string"
                        },
                        "docUrl": {
                          "type": "string",
                          "format": "uri"
                        },
                        "statusCode": {
                          "type": "integer",
                          "minimum": 100,
                          "maximum": 599
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "rateLimited": {
                    "summary": "Rate limit exceeded",
                    "value": {
                      "data": null,
                      "error": {
                        "message": "Rate limit exceeded",
                        "code": "RATE_LIMIT_EXCEEDED",
                        "hint": "Maximum 100 requests per 60 seconds",
                        "docUrl": "https://authlane.io/docs/api-reference/authentication",
                        "statusCode": 429
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/{externalUserId}/capabilities": {
      "get": {
        "tags": [
          "Connections",
          "Tools"
        ],
        "operationId": "getUserCapabilities",
        "summary": "Get states and tool definitions in one hot read",
        "x-authlane-scope": "connections:read",
        "parameters": [
          {
            "name": "externalUserId",
            "in": "path",
            "required": true,
            "description": "Opaque 1–255 character identifier from the authenticated SaaS session.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 255
            }
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "mcp",
                "openai"
              ],
              "default": "mcp"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Versioned capability snapshot",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Maximum requests in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining requests in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp when the current window resets.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "error"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "externalUserId",
                        "format",
                        "version",
                        "services"
                      ],
                      "properties": {
                        "externalUserId": {
                          "type": "string"
                        },
                        "format": {
                          "type": "string",
                          "enum": [
                            "mcp",
                            "openai"
                          ]
                        },
                        "version": {
                          "type": "string"
                        },
                        "services": {
                          "type": "array",
                          "items": {
                            "allOf": [
                              {
                                "type": "object",
                                "required": [
                                  "serviceId",
                                  "status",
                                  "connected",
                                  "expiresAt"
                                ],
                                "properties": {
                                  "serviceId": {
                                    "type": "string"
                                  },
                                  "status": {
                                    "type": "string",
                                    "enum": [
                                      "disconnected",
                                      "pending",
                                      "connected",
                                      "expired",
                                      "error"
                                    ]
                                  },
                                  "connected": {
                                    "type": "boolean"
                                  },
                                  "expiresAt": {
                                    "type": [
                                      "string",
                                      "null"
                                    ],
                                    "format": "date-time"
                                  },
                                  "connectedAt": {
                                    "type": [
                                      "string",
                                      "null"
                                    ],
                                    "format": "date-time"
                                  },
                                  "lastCheckedAt": {
                                    "type": [
                                      "string",
                                      "null"
                                    ],
                                    "format": "date-time"
                                  },
                                  "errorCode": {
                                    "type": [
                                      "string",
                                      "null"
                                    ]
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "required": [
                                  "tools"
                                ],
                                "properties": {
                                  "tools": {
                                    "type": "array",
                                    "items": {
                                      "oneOf": [
                                        {
                                          "type": "object",
                                          "required": [
                                            "name",
                                            "description",
                                            "inputSchema"
                                          ],
                                          "properties": {
                                            "name": {
                                              "type": "string"
                                            },
                                            "description": {
                                              "type": "string"
                                            },
                                            "inputSchema": {
                                              "type": "object",
                                              "additionalProperties": true
                                            }
                                          }
                                        },
                                        {
                                          "type": "object",
                                          "required": [
                                            "name",
                                            "description",
                                            "parameters"
                                          ],
                                          "properties": {
                                            "name": {
                                              "type": "string"
                                            },
                                            "description": {
                                              "type": "string"
                                            },
                                            "parameters": {
                                              "type": "object",
                                              "additionalProperties": true
                                            }
                                          }
                                        }
                                      ]
                                    }
                                  }
                                }
                              }
                            ]
                          }
                        }
                      }
                    },
                    "error": {
                      "type": "null"
                    }
                  }
                },
                "examples": {
                  "capabilities": {
                    "summary": "MCP capabilities for one external user",
                    "value": {
                      "data": {
                        "externalUserId": "user_123",
                        "format": "mcp",
                        "version": "cafebabe",
                        "services": [
                          {
                            "serviceId": "github",
                            "status": "connected",
                            "connected": true,
                            "expiresAt": "2026-08-01T12:00:00.000Z",
                            "tools": [
                              {
                                "name": "github_create_issue",
                                "description": "Create an issue in a GitHub repository.",
                                "inputSchema": {
                                  "type": "object",
                                  "properties": {
                                    "owner": {
                                      "type": "string"
                                    },
                                    "repo": {
                                      "type": "string"
                                    },
                                    "title": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "owner",
                                    "repo",
                                    "title"
                                  ]
                                }
                              }
                            ]
                          }
                        ]
                      },
                      "error": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Authlane request error",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Maximum requests in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining requests in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp when the current window resets.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "error"
                  ],
                  "properties": {
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        },
                        "hint": {
                          "type": "string"
                        },
                        "docUrl": {
                          "type": "string",
                          "format": "uri"
                        },
                        "statusCode": {
                          "type": "integer",
                          "minimum": 100,
                          "maximum": 599
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "error": {
                    "summary": "Supabase-style request error",
                    "value": {
                      "data": null,
                      "error": {
                        "message": "Invalid external user ID",
                        "code": "VALIDATION_ERROR",
                        "hint": "Use the external user ID from your authenticated SaaS session.",
                        "docUrl": "https://authlane.io/docs/api-reference",
                        "statusCode": 400
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authlane request error",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Maximum requests in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining requests in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp when the current window resets.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "error"
                  ],
                  "properties": {
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        },
                        "hint": {
                          "type": "string"
                        },
                        "docUrl": {
                          "type": "string",
                          "format": "uri"
                        },
                        "statusCode": {
                          "type": "integer",
                          "minimum": 100,
                          "maximum": 599
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "error": {
                    "summary": "Supabase-style request error",
                    "value": {
                      "data": null,
                      "error": {
                        "message": "Invalid external user ID",
                        "code": "VALIDATION_ERROR",
                        "hint": "Use the external user ID from your authenticated SaaS session.",
                        "docUrl": "https://authlane.io/docs/api-reference",
                        "statusCode": 400
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Authlane request error",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Maximum requests in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining requests in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp when the current window resets.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "error"
                  ],
                  "properties": {
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        },
                        "hint": {
                          "type": "string"
                        },
                        "docUrl": {
                          "type": "string",
                          "format": "uri"
                        },
                        "statusCode": {
                          "type": "integer",
                          "minimum": 100,
                          "maximum": 599
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "error": {
                    "summary": "Supabase-style request error",
                    "value": {
                      "data": null,
                      "error": {
                        "message": "Invalid external user ID",
                        "code": "VALIDATION_ERROR",
                        "hint": "Use the external user ID from your authenticated SaaS session.",
                        "docUrl": "https://authlane.io/docs/api-reference",
                        "statusCode": 400
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Maximum requests in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining requests in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp when the current window resets.",
                "schema": {
                  "type": "integer"
                }
              },
              "Retry-After": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "error"
                  ],
                  "properties": {
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        },
                        "hint": {
                          "type": "string"
                        },
                        "docUrl": {
                          "type": "string",
                          "format": "uri"
                        },
                        "statusCode": {
                          "type": "integer",
                          "minimum": 100,
                          "maximum": 599
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "rateLimited": {
                    "summary": "Rate limit exceeded",
                    "value": {
                      "data": null,
                      "error": {
                        "message": "Rate limit exceeded",
                        "code": "RATE_LIMIT_EXCEEDED",
                        "hint": "Maximum 100 requests per 60 seconds",
                        "docUrl": "https://authlane.io/docs/api-reference/authentication",
                        "statusCode": 429
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/{externalUserId}/tools": {
      "get": {
        "tags": [
          "Tools"
        ],
        "operationId": "listUserTools",
        "summary": "List definitions for usable connections",
        "description": "Returns definitions only. Authlane never executes a tool.",
        "x-authlane-scope": "connections:read",
        "parameters": [
          {
            "name": "externalUserId",
            "in": "path",
            "required": true,
            "description": "Opaque 1–255 character identifier from the authenticated SaaS session.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 255
            }
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "mcp",
                "openai"
              ],
              "default": "mcp"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Versioned MCP tools or OpenAI functions",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Maximum requests in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining requests in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp when the current window resets.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "error"
                  ],
                  "properties": {
                    "data": {
                      "oneOf": [
                        {
                          "type": "object",
                          "required": [
                            "tools",
                            "version"
                          ],
                          "properties": {
                            "tools": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "required": [
                                  "name",
                                  "description",
                                  "inputSchema"
                                ],
                                "properties": {
                                  "name": {
                                    "type": "string"
                                  },
                                  "description": {
                                    "type": "string"
                                  },
                                  "inputSchema": {
                                    "type": "object",
                                    "additionalProperties": true
                                  }
                                }
                              }
                            },
                            "version": {
                              "type": "string"
                            }
                          }
                        },
                        {
                          "type": "object",
                          "required": [
                            "functions",
                            "version"
                          ],
                          "properties": {
                            "functions": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "required": [
                                  "name",
                                  "description",
                                  "parameters"
                                ],
                                "properties": {
                                  "name": {
                                    "type": "string"
                                  },
                                  "description": {
                                    "type": "string"
                                  },
                                  "parameters": {
                                    "type": "object",
                                    "additionalProperties": true
                                  }
                                }
                              }
                            },
                            "version": {
                              "type": "string"
                            }
                          }
                        }
                      ]
                    },
                    "error": {
                      "type": "null"
                    }
                  }
                },
                "examples": {
                  "mcp": {
                    "summary": "MCP tool definitions",
                    "value": {
                      "data": {
                        "tools": [
                          {
                            "name": "github_create_issue",
                            "description": "Create an issue in a GitHub repository.",
                            "inputSchema": {
                              "type": "object",
                              "properties": {
                                "owner": {
                                  "type": "string"
                                },
                                "repo": {
                                  "type": "string"
                                },
                                "title": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "owner",
                                "repo",
                                "title"
                              ]
                            }
                          }
                        ],
                        "version": "cafebabe"
                      },
                      "error": null
                    }
                  },
                  "openai": {
                    "summary": "OpenAI function definitions",
                    "value": {
                      "data": {
                        "functions": [
                          {
                            "name": "github_create_issue",
                            "description": "Create an issue in a GitHub repository.",
                            "parameters": {
                              "type": "object",
                              "properties": {
                                "owner": {
                                  "type": "string"
                                },
                                "repo": {
                                  "type": "string"
                                },
                                "title": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "owner",
                                "repo",
                                "title"
                              ]
                            }
                          }
                        ],
                        "version": "cafebabe"
                      },
                      "error": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Authlane request error",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Maximum requests in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining requests in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp when the current window resets.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "error"
                  ],
                  "properties": {
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        },
                        "hint": {
                          "type": "string"
                        },
                        "docUrl": {
                          "type": "string",
                          "format": "uri"
                        },
                        "statusCode": {
                          "type": "integer",
                          "minimum": 100,
                          "maximum": 599
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "error": {
                    "summary": "Supabase-style request error",
                    "value": {
                      "data": null,
                      "error": {
                        "message": "Invalid external user ID",
                        "code": "VALIDATION_ERROR",
                        "hint": "Use the external user ID from your authenticated SaaS session.",
                        "docUrl": "https://authlane.io/docs/api-reference",
                        "statusCode": 400
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authlane request error",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Maximum requests in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining requests in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp when the current window resets.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "error"
                  ],
                  "properties": {
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        },
                        "hint": {
                          "type": "string"
                        },
                        "docUrl": {
                          "type": "string",
                          "format": "uri"
                        },
                        "statusCode": {
                          "type": "integer",
                          "minimum": 100,
                          "maximum": 599
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "error": {
                    "summary": "Supabase-style request error",
                    "value": {
                      "data": null,
                      "error": {
                        "message": "Invalid external user ID",
                        "code": "VALIDATION_ERROR",
                        "hint": "Use the external user ID from your authenticated SaaS session.",
                        "docUrl": "https://authlane.io/docs/api-reference",
                        "statusCode": 400
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Authlane request error",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Maximum requests in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining requests in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp when the current window resets.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "error"
                  ],
                  "properties": {
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        },
                        "hint": {
                          "type": "string"
                        },
                        "docUrl": {
                          "type": "string",
                          "format": "uri"
                        },
                        "statusCode": {
                          "type": "integer",
                          "minimum": 100,
                          "maximum": 599
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "error": {
                    "summary": "Supabase-style request error",
                    "value": {
                      "data": null,
                      "error": {
                        "message": "Invalid external user ID",
                        "code": "VALIDATION_ERROR",
                        "hint": "Use the external user ID from your authenticated SaaS session.",
                        "docUrl": "https://authlane.io/docs/api-reference",
                        "statusCode": 400
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Maximum requests in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining requests in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp when the current window resets.",
                "schema": {
                  "type": "integer"
                }
              },
              "Retry-After": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "error"
                  ],
                  "properties": {
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        },
                        "hint": {
                          "type": "string"
                        },
                        "docUrl": {
                          "type": "string",
                          "format": "uri"
                        },
                        "statusCode": {
                          "type": "integer",
                          "minimum": 100,
                          "maximum": 599
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "rateLimited": {
                    "summary": "Rate limit exceeded",
                    "value": {
                      "data": null,
                      "error": {
                        "message": "Rate limit exceeded",
                        "code": "RATE_LIMIT_EXCEEDED",
                        "hint": "Maximum 100 requests per 60 seconds",
                        "docUrl": "https://authlane.io/docs/api-reference/authentication",
                        "statusCode": 429
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/{externalUserId}/connections/{serviceId}/credential-leases": {
      "post": {
        "tags": [
          "Connections"
        ],
        "operationId": "createCredentialLease",
        "summary": "Issue access-only credential material",
        "description": "Server-only, audited, non-cacheable response for direct provider execution. OAuth refresh and ID tokens are never returned.",
        "x-authlane-scope": "credentials:issue",
        "parameters": [
          {
            "name": "externalUserId",
            "in": "path",
            "required": true,
            "description": "Opaque 1–255 character identifier from the authenticated SaaS session.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 255
            }
          },
          {
            "name": "serviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9-]+$"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Short-lived credential lease",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Maximum requests in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining requests in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp when the current window resets.",
                "schema": {
                  "type": "integer"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "const": "no-store, private"
                }
              },
              "Pragma": {
                "schema": {
                  "type": "string",
                  "const": "no-cache"
                }
              },
              "Referrer-Policy": {
                "schema": {
                  "type": "string",
                  "const": "no-referrer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "error"
                  ],
                  "properties": {
                    "data": {
                      "oneOf": [
                        {
                          "type": "object",
                          "required": [
                            "type",
                            "leaseId",
                            "accessToken",
                            "tokenType",
                            "scopes",
                            "expiresAt"
                          ],
                          "properties": {
                            "type": {
                              "const": "oauth2"
                            },
                            "leaseId": {
                              "type": "string",
                              "format": "uuid"
                            },
                            "accessToken": {
                              "type": "string"
                            },
                            "tokenType": {
                              "type": "string"
                            },
                            "scopes": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "providerContext": {
                              "type": "object",
                              "description": "Validated provider routing metadata returned for services with tenant-specific API origins.",
                              "required": [
                                "apiBaseUrl"
                              ],
                              "properties": {
                                "apiBaseUrl": {
                                  "type": "string",
                                  "format": "uri"
                                }
                              }
                            },
                            "expiresAt": {
                              "type": [
                                "string",
                                "null"
                              ],
                              "format": "date-time"
                            }
                          }
                        },
                        {
                          "type": "object",
                          "required": [
                            "type",
                            "leaseId",
                            "value",
                            "placement",
                            "expiresAt"
                          ],
                          "properties": {
                            "type": {
                              "const": "api_key"
                            },
                            "leaseId": {
                              "type": "string",
                              "format": "uuid"
                            },
                            "value": {
                              "type": "string"
                            },
                            "placement": {
                              "oneOf": [
                                {
                                  "type": "object",
                                  "required": [
                                    "type",
                                    "name"
                                  ],
                                  "properties": {
                                    "type": {
                                      "const": "header"
                                    },
                                    "name": {
                                      "type": "string"
                                    },
                                    "prefix": {
                                      "type": "string"
                                    }
                                  }
                                },
                                {
                                  "type": "object",
                                  "required": [
                                    "type",
                                    "name"
                                  ],
                                  "properties": {
                                    "type": {
                                      "const": "query"
                                    },
                                    "name": {
                                      "type": "string"
                                    }
                                  }
                                }
                              ]
                            },
                            "expiresAt": {
                              "type": [
                                "string",
                                "null"
                              ],
                              "format": "date-time"
                            }
                          }
                        }
                      ]
                    },
                    "error": {
                      "type": "null"
                    }
                  }
                },
                "examples": {
                  "oauth": {
                    "summary": "Access-only OAuth credential lease",
                    "value": {
                      "data": {
                        "type": "oauth2",
                        "leaseId": "550e8400-e29b-41d4-a716-446655440000",
                        "accessToken": "provider-access-token-redacted",
                        "tokenType": "Bearer",
                        "scopes": [
                          "repo",
                          "user:email"
                        ],
                        "expiresAt": "2026-07-18T12:05:00.000Z"
                      },
                      "error": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Authlane request error",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Maximum requests in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining requests in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp when the current window resets.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "error"
                  ],
                  "properties": {
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        },
                        "hint": {
                          "type": "string"
                        },
                        "docUrl": {
                          "type": "string",
                          "format": "uri"
                        },
                        "statusCode": {
                          "type": "integer",
                          "minimum": 100,
                          "maximum": 599
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "error": {
                    "summary": "Supabase-style request error",
                    "value": {
                      "data": null,
                      "error": {
                        "message": "Invalid external user ID",
                        "code": "VALIDATION_ERROR",
                        "hint": "Use the external user ID from your authenticated SaaS session.",
                        "docUrl": "https://authlane.io/docs/api-reference",
                        "statusCode": 400
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authlane request error",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Maximum requests in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining requests in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp when the current window resets.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "error"
                  ],
                  "properties": {
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        },
                        "hint": {
                          "type": "string"
                        },
                        "docUrl": {
                          "type": "string",
                          "format": "uri"
                        },
                        "statusCode": {
                          "type": "integer",
                          "minimum": 100,
                          "maximum": 599
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "error": {
                    "summary": "Supabase-style request error",
                    "value": {
                      "data": null,
                      "error": {
                        "message": "Invalid external user ID",
                        "code": "VALIDATION_ERROR",
                        "hint": "Use the external user ID from your authenticated SaaS session.",
                        "docUrl": "https://authlane.io/docs/api-reference",
                        "statusCode": 400
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Authlane request error",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Maximum requests in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining requests in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp when the current window resets.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "error"
                  ],
                  "properties": {
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        },
                        "hint": {
                          "type": "string"
                        },
                        "docUrl": {
                          "type": "string",
                          "format": "uri"
                        },
                        "statusCode": {
                          "type": "integer",
                          "minimum": 100,
                          "maximum": 599
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "error": {
                    "summary": "Supabase-style request error",
                    "value": {
                      "data": null,
                      "error": {
                        "message": "Invalid external user ID",
                        "code": "VALIDATION_ERROR",
                        "hint": "Use the external user ID from your authenticated SaaS session.",
                        "docUrl": "https://authlane.io/docs/api-reference",
                        "statusCode": 400
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Authlane request error",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Maximum requests in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining requests in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp when the current window resets.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "error"
                  ],
                  "properties": {
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        },
                        "hint": {
                          "type": "string"
                        },
                        "docUrl": {
                          "type": "string",
                          "format": "uri"
                        },
                        "statusCode": {
                          "type": "integer",
                          "minimum": 100,
                          "maximum": 599
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "error": {
                    "summary": "Supabase-style request error",
                    "value": {
                      "data": null,
                      "error": {
                        "message": "Invalid external user ID",
                        "code": "VALIDATION_ERROR",
                        "hint": "Use the external user ID from your authenticated SaaS session.",
                        "docUrl": "https://authlane.io/docs/api-reference",
                        "statusCode": 400
                      }
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Authlane request error",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Maximum requests in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining requests in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp when the current window resets.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "error"
                  ],
                  "properties": {
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        },
                        "hint": {
                          "type": "string"
                        },
                        "docUrl": {
                          "type": "string",
                          "format": "uri"
                        },
                        "statusCode": {
                          "type": "integer",
                          "minimum": 100,
                          "maximum": 599
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "error": {
                    "summary": "Supabase-style request error",
                    "value": {
                      "data": null,
                      "error": {
                        "message": "Invalid external user ID",
                        "code": "VALIDATION_ERROR",
                        "hint": "Use the external user ID from your authenticated SaaS session.",
                        "docUrl": "https://authlane.io/docs/api-reference",
                        "statusCode": 400
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Maximum requests in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining requests in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp when the current window resets.",
                "schema": {
                  "type": "integer"
                }
              },
              "Retry-After": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "error"
                  ],
                  "properties": {
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        },
                        "hint": {
                          "type": "string"
                        },
                        "docUrl": {
                          "type": "string",
                          "format": "uri"
                        },
                        "statusCode": {
                          "type": "integer",
                          "minimum": 100,
                          "maximum": 599
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "rateLimited": {
                    "summary": "Rate limit exceeded",
                    "value": {
                      "data": null,
                      "error": {
                        "message": "Rate limit exceeded",
                        "code": "RATE_LIMIT_EXCEEDED",
                        "hint": "Maximum 100 requests per 60 seconds",
                        "docUrl": "https://authlane.io/docs/api-reference/authentication",
                        "statusCode": 429
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Authlane request error",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Maximum requests in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining requests in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp when the current window resets.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "error"
                  ],
                  "properties": {
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        },
                        "hint": {
                          "type": "string"
                        },
                        "docUrl": {
                          "type": "string",
                          "format": "uri"
                        },
                        "statusCode": {
                          "type": "integer",
                          "minimum": 100,
                          "maximum": 599
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "error": {
                    "summary": "Supabase-style request error",
                    "value": {
                      "data": null,
                      "error": {
                        "message": "Invalid external user ID",
                        "code": "VALIDATION_ERROR",
                        "hint": "Use the external user ID from your authenticated SaaS session.",
                        "docUrl": "https://authlane.io/docs/api-reference",
                        "statusCode": 400
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/connect-sessions": {
      "post": {
        "tags": [
          "Connect sessions"
        ],
        "operationId": "createConnectSession",
        "summary": "Create a browser handoff session",
        "x-authlane-scope": "connect-sessions:create",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "externalUserId",
                  "allowedServices",
                  "allowedOrigin"
                ],
                "properties": {
                  "externalUserId": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255
                  },
                  "allowedServices": {
                    "type": "array",
                    "description": "An empty array snapshots all services currently enabled for the tenant.",
                    "items": {
                      "type": "string",
                      "pattern": "^[a-z0-9-]+$"
                    }
                  },
                  "allowedOrigin": {
                    "type": "string",
                    "format": "uri"
                  },
                  "expiresInSeconds": {
                    "type": "integer",
                    "minimum": 60,
                    "maximum": 900,
                    "default": 600
                  },
                  "reauthenticatedAt": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Required for disconnect and accepted only within the recent-reauthentication window."
                  }
                }
              },
              "examples": {
[...]
