{
  "openapi": "3.1.0",
  "info": {
    "title": "Authlane Control Plane API",
    "version": "1.0.0",
    "description": "Configure tenant services, connect external users, read connection state, and obtain user-scoped tool definitions. Authlane is a control plane: provider tool traffic goes directly from the SaaS runtime to each provider and never passes through this API.",
    "license": {
      "name": "MIT",
      "identifier": "MIT"
    }
  },
  "servers": [
    {
      "url": "https://app.authlane.io",
      "description": "Authlane Cloud"
    },
    {
      "url": "http://localhost:3000",
      "description": "Local development"
    }
  ],
  "tags": [
    {
      "name": "Catalog"
    },
    {
      "name": "Connections"
    },
    {
      "name": "Tools"
    },
    {
      "name": "Connect sessions"
    },
    {
      "name": "Hosted connect"
    },
    {
      "name": "OAuth"
    }
  ],
  "security": [
    {
      "ApiKey": []
    }
  ],
  "paths": {
    "/api/v1/catalog/services": {
      "get": {
        "tags": [
          "Catalog"
        ],
        "operationId": "listCatalogServices",
        "summary": "List tenant-enabled services",
        "x-authlane-scope": "catalog:read",
        "responses": {
          "200": {
            "description": "Tenant service catalog",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Maximum requests in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining requests in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp when the current window resets.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "error"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "name",
                          "authType",
                          "enabled"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "authType": {
                            "type": "string",
                            "enum": [
                              "oauth2",
                              "api_key"
                            ]
                          },
                          "enabled": {
                            "type": "boolean"
                          }
                        }
                      }
                    },
                    "error": {
                      "type": "null"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authlane request error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "error"
                  ],
                  "properties": {
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        },
                        "hint": {
                          "type": "string"
                        },
                        "docUrl": {
                          "type": "string",
                          "format": "uri"
                        },
                        "statusCode": {
                          "type": "integer",
                          "minimum": 100,
                          "maximum": 599
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Authlane request error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "error"
                  ],
                  "properties": {
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        },
                        "hint": {
                          "type": "string"
                        },
                        "docUrl": {
                          "type": "string",
                          "format": "uri"
                        },
                        "statusCode": {
                          "type": "integer",
                          "minimum": 100,
                          "maximum": 599
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Maximum requests in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining requests in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp when the current window resets.",
                "schema": {
                  "type": "integer"
                }
              },
              "Retry-After": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "error"
                  ],
                  "properties": {
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        },
                        "hint": {
                          "type": "string"
                        },
                        "docUrl": {
                          "type": "string",
                          "format": "uri"
                        },
                        "statusCode": {
                          "type": "integer",
                          "minimum": 100,
                          "maximum": 599
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/{externalUserId}/connections": {
      "get": {
        "tags": [
          "Connections"
        ],
        "operationId": "listUserConnections",
        "summary": "List effective connection states",
        "description": "Includes tenant-enabled services that are not yet connected.",
        "x-authlane-scope": "connections:read",
        "parameters": [
          {
            "name": "externalUserId",
            "in": "path",
            "required": true,
            "description": "Opaque 1–255 character identifier from the authenticated SaaS session.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 255
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Connection state snapshot",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "error"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "serviceId",
                          "status",
                          "connected",
                          "expiresAt"
                        ],
                        "properties": {
                          "serviceId": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "disconnected",
                              "pending",
                              "connected",
                              "expired",
                              "error"
                            ]
                          },
                          "connected": {
                            "type": "boolean"
                          },
                          "expiresAt": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "format": "date-time"
                          },
                          "connectedAt": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "format": "date-time"
                          },
                          "lastCheckedAt": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "format": "date-time"
                          },
                          "errorCode": {
                            "type": [
                              "string",
                              "null"
                            ]
                          }
                        }
                      }
                    },
                    "error": {
                      "type": "null"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authlane request error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "error"
                  ],
                  "properties": {
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        },
                        "hint": {
                          "type": "string"
                        },
                        "docUrl": {
                          "type": "string",
                          "format": "uri"
                        },
                        "statusCode": {
                          "type": "integer",
                          "minimum": 100,
                          "maximum": 599
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Authlane request error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "error"
                  ],
                  "properties": {
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        },
                        "hint": {
                          "type": "string"
                        },
                        "docUrl": {
                          "type": "string",
                          "format": "uri"
                        },
                        "statusCode": {
                          "type": "integer",
                          "minimum": 100,
                          "maximum": 599
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Maximum requests in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining requests in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp when the current window resets.",
                "schema": {
                  "type": "integer"
                }
              },
              "Retry-After": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "error"
                  ],
                  "properties": {
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        },
                        "hint": {
                          "type": "string"
                        },
                        "docUrl": {
                          "type": "string",
                          "format": "uri"
                        },
                        "statusCode": {
                          "type": "integer",
                          "minimum": 100,
                          "maximum": 599
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/{externalUserId}/capabilities": {
      "get": {
        "tags": [
          "Connections",
          "Tools"
        ],
        "operationId": "getUserCapabilities",
        "summary": "Get states and tool definitions in one hot read",
        "x-authlane-scope": "connections:read",
        "parameters": [
          {
            "name": "externalUserId",
            "in": "path",
            "required": true,
            "description": "Opaque 1–255 character identifier from the authenticated SaaS session.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 255
            }
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "mcp",
                "openai"
              ],
              "default": "mcp"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Versioned capability snapshot",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "error"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "externalUserId",
                        "format",
                        "version",
                        "services"
                      ],
                      "properties": {
                        "externalUserId": {
                          "type": "string"
                        },
                        "format": {
                          "type": "string",
                          "enum": [
                            "mcp",
                            "openai"
                          ]
                        },
                        "version": {
                          "type": "string"
                        },
                        "services": {
                          "type": "array",
                          "items": {
                            "allOf": [
                              {
                                "type": "object",
                                "required": [
                                  "serviceId",
                                  "status",
                                  "connected",
                                  "expiresAt"
                                ],
                                "properties": {
                                  "serviceId": {
                                    "type": "string"
                                  },
                                  "status": {
                                    "type": "string",
                                    "enum": [
                                      "disconnected",
                                      "pending",
                                      "connected",
                                      "expired",
                                      "error"
                                    ]
                                  },
                                  "connected": {
                                    "type": "boolean"
                                  },
                                  "expiresAt": {
                                    "type": [
                                      "string",
                                      "null"
                                    ],
                                    "format": "date-time"
                                  },
                                  "connectedAt": {
                                    "type": [
                                      "string",
                                      "null"
                                    ],
                                    "format": "date-time"
                                  },
                                  "lastCheckedAt": {
                                    "type": [
                                      "string",
                                      "null"
                                    ],
                                    "format": "date-time"
                                  },
                                  "errorCode": {
                                    "type": [
                                      "string",
                                      "null"
                                    ]
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "required": [
                                  "tools"
                                ],
                                "properties": {
                                  "tools": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "required": [
                                        "name",
                                        "description",
                                        "inputSchema"
                                      ],
                                      "properties": {
                                        "name": {
                                          "type": "string"
                                        },
                                        "description": {
                                          "type": "string"
                                        },
                                        "inputSchema": {
                                          "type": "object",
                                          "additionalProperties": true
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            ]
                          }
                        }
                      }
                    },
                    "error": {
                      "type": "null"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authlane request error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "error"
                  ],
                  "properties": {
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        },
                        "hint": {
                          "type": "string"
                        },
                        "docUrl": {
                          "type": "string",
                          "format": "uri"
                        },
                        "statusCode": {
                          "type": "integer",
                          "minimum": 100,
                          "maximum": 599
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Authlane request error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "error"
                  ],
                  "properties": {
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        },
                        "hint": {
                          "type": "string"
                        },
                        "docUrl": {
                          "type": "string",
                          "format": "uri"
                        },
                        "statusCode": {
                          "type": "integer",
                          "minimum": 100,
                          "maximum": 599
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Maximum requests in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining requests in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp when the current window resets.",
                "schema": {
                  "type": "integer"
                }
              },
              "Retry-After": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "error"
                  ],
                  "properties": {
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        },
                        "hint": {
                          "type": "string"
                        },
                        "docUrl": {
                          "type": "string",
                          "format": "uri"
                        },
                        "statusCode": {
                          "type": "integer",
                          "minimum": 100,
                          "maximum": 599
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/{externalUserId}/tools": {
      "get": {
        "tags": [
          "Tools"
        ],
        "operationId": "listUserTools",
        "summary": "List definitions for usable connections",
        "description": "Returns definitions only. Authlane never executes a tool.",
        "x-authlane-scope": "connections:read",
        "parameters": [
          {
            "name": "externalUserId",
            "in": "path",
            "required": true,
            "description": "Opaque 1–255 character identifier from the authenticated SaaS session.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 255
            }
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "mcp",
                "openai"
              ],
              "default": "mcp"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Versioned MCP tools or OpenAI functions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "error"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "externalUserId",
                        "format",
                        "version",
                        "tools"
                      ],
                      "properties": {
                        "externalUserId": {
                          "type": "string"
                        },
                        "format": {
                          "type": "string",
                          "enum": [
                            "mcp",
                            "openai"
                          ]
                        },
                        "version": {
                          "type": "string"
                        },
                        "tools": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": [
                              "name",
                              "description",
                              "inputSchema"
                            ],
                            "properties": {
                              "name": {
                                "type": "string"
                              },
                              "description": {
                                "type": "string"
                              },
                              "inputSchema": {
                                "type": "object",
                                "additionalProperties": true
                              }
                            }
                          }
                        }
                      }
                    },
                    "error": {
                      "type": "null"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authlane request error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "error"
                  ],
                  "properties": {
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        },
                        "hint": {
                          "type": "string"
                        },
                        "docUrl": {
                          "type": "string",
                          "format": "uri"
                        },
                        "statusCode": {
                          "type": "integer",
                          "minimum": 100,
                          "maximum": 599
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Authlane request error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "error"
                  ],
                  "properties": {
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        },
                        "hint": {
                          "type": "string"
                        },
                        "docUrl": {
                          "type": "string",
                          "format": "uri"
                        },
                        "statusCode": {
                          "type": "integer",
                          "minimum": 100,
                          "maximum": 599
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Maximum requests in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining requests in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp when the current window resets.",
                "schema": {
                  "type": "integer"
                }
              },
              "Retry-After": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "error"
                  ],
                  "properties": {
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        },
                        "hint": {
                          "type": "string"
                        },
                        "docUrl": {
                          "type": "string",
                          "format": "uri"
                        },
                        "statusCode": {
                          "type": "integer",
                          "minimum": 100,
                          "maximum": 599
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/{externalUserId}/connections/{serviceId}/credential-leases": {
      "post": {
        "tags": [
          "Connections"
        ],
        "operationId": "createCredentialLease",
        "summary": "Issue access-only credential material",
        "description": "Server-only, audited, non-cacheable response for direct provider execution. OAuth refresh and ID tokens are never returned.",
        "x-authlane-scope": "credentials:issue",
        "parameters": [
          {
            "name": "externalUserId",
            "in": "path",
            "required": true,
            "description": "Opaque 1–255 character identifier from the authenticated SaaS session.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 255
            }
          },
          {
            "name": "serviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9-]+$"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Short-lived credential lease",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "const": "no-store, private"
                }
              },
              "Pragma": {
                "schema": {
                  "type": "string",
                  "const": "no-cache"
                }
              },
              "Referrer-Policy": {
                "schema": {
                  "type": "string",
                  "const": "no-referrer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "error"
                  ],
                  "properties": {
                    "data": {
                      "oneOf": [
                        {
                          "type": "object",
                          "required": [
                            "type",
                            "leaseId",
                            "accessToken",
                            "tokenType",
                            "scopes",
                            "expiresAt"
                          ],
                          "properties": {
                            "type": {
                              "const": "oauth2"
                            },
                            "leaseId": {
                              "type": "string",
                              "format": "uuid"
                            },
                            "accessToken": {
                              "type": "string"
                            },
                            "tokenType": {
                              "type": "string"
                            },
                            "scopes": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "expiresAt": {
                              "type": [
                                "string",
                                "null"
                              ],
                              "format": "date-time"
                            }
                          }
                        },
                        {
                          "type": "object",
                          "required": [
                            "type",
                            "leaseId",
                            "value",
                            "placement",
                            "expiresAt"
                          ],
                          "properties": {
                            "type": {
                              "const": "api_key"
                            },
                            "leaseId": {
                              "type": "string",
                              "format": "uuid"
                            },
                            "value": {
                              "type": "string"
                            },
                            "placement": {
                              "oneOf": [
                                {
                                  "type": "object",
                                  "required": [
                                    "type",
                                    "name"
                                  ],
                                  "properties": {
                                    "type": {
                                      "const": "header"
                                    },
                                    "name": {
                                      "type": "string"
                                    },
                                    "prefix": {
                                      "type": "string"
                                    }
                                  }
                                },
                                {
                                  "type": "object",
                                  "required": [
                                    "type",
                                    "name"
                                  ],
                                  "properties": {
                                    "type": {
                                      "const": "query"
                                    },
                                    "name": {
                                      "type": "string"
                                    }
                                  }
                                }
                              ]
                            },
                            "expiresAt": {
                              "type": [
                                "string",
                                "null"
                              ],
                              "format": "date-time"
                            }
                          }
                        }
                      ]
                    },
                    "error": {
                      "type": "null"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authlane request error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "error"
                  ],
                  "properties": {
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        },
                        "hint": {
                          "type": "string"
                        },
                        "docUrl": {
                          "type": "string",
                          "format": "uri"
                        },
                        "statusCode": {
                          "type": "integer",
                          "minimum": 100,
                          "maximum": 599
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Authlane request error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "error"
                  ],
                  "properties": {
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        },
                        "hint": {
                          "type": "string"
                        },
                        "docUrl": {
                          "type": "string",
                          "format": "uri"
                        },
                        "statusCode": {
                          "type": "integer",
                          "minimum": 100,
                          "maximum": 599
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Authlane request error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "error"
                  ],
                  "properties": {
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        },
                        "hint": {
                          "type": "string"
                        },
                        "docUrl": {
                          "type": "string",
                          "format": "uri"
                        },
                        "statusCode": {
                          "type": "integer",
                          "minimum": 100,
                          "maximum": 599
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Authlane request error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "error"
                  ],
                  "properties": {
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        },
                        "hint": {
                          "type": "string"
                        },
                        "docUrl": {
                          "type": "string",
                          "format": "uri"
                        },
                        "statusCode": {
                          "type": "integer",
                          "minimum": 100,
                          "maximum": 599
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Maximum requests in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining requests in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp when the current window resets.",
                "schema": {
                  "type": "integer"
                }
              },
              "Retry-After": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "error"
                  ],
                  "properties": {
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        },
                        "hint": {
                          "type": "string"
                        },
                        "docUrl": {
                          "type": "string",
                          "format": "uri"
                        },
                        "statusCode": {
                          "type": "integer",
                          "minimum": 100,
                          "maximum": 599
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/connect-sessions": {
      "post": {
        "tags": [
          "Connect sessions"
        ],
        "operationId": "createConnectSession",
        "summary": "Create a browser handoff session",
        "x-authlane-scope": "connect-sessions:create",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "externalUserId",
                  "allowedServices",
                  "allowedOrigin"
                ],
                "properties": {
                  "externalUserId": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255
                  },
                  "allowedServices": {
                    "type": "array",
                    "description": "An empty array snapshots all services currently enabled for the tenant.",
                    "items": {
                      "type": "string",
                      "pattern": "^[a-z0-9-]+$"
                    }
                  },
                  "allowedOrigin": {
                    "type": "string",
                    "format": "uri"
                  },
                  "expiresInSeconds": {
                    "type": "integer",
                    "minimum": 60,
                    "maximum": 900,
                    "default": 600
                  },
                  "reauthenticatedAt": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Required for disconnect and accepted only within the recent-reauthentication window."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Raw session token returned once",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "const": "no-store, private"
                }
              },
              "Pragma": {
                "schema": {
                  "type": "string",
                  "const": "no-cache"
                }
              },
              "Referrer-Policy": {
                "schema": {
                  "type": "string",
                  "const": "no-referrer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "error"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "id",
                        "token",
                        "url",
                        "expiresAt"
                      ],
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "token": {
                          "type": "string"
                        },
                        "url": {
                          "type": "string",
                          "format": "uri"
                        },
                        "expiresAt": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    },
                    "error": {
                      "type": "null"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Authlane request error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "error"
                  ],
                  "properties": {
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        },
                        "hint": {
                          "type": "string"
                        },
                        "docUrl": {
                          "type": "string",
                          "format": "uri"
                        },
                        "statusCode": {
                          "type": "integer",
                          "minimum": 100,
                          "maximum": 599
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authlane request error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "error"
                  ],
                  "properties": {
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        },
                        "hint": {
                          "type": "string"
                        },
                        "docUrl": {
                          "type": "string",
                          "format": "uri"
                        },
                        "statusCode": {
                          "type": "integer",
                          "minimum": 100,
                          "maximum": 599
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Authlane request error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "error"
                  ],
                  "properties": {
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        },
                        "hint": {
                          "type": "string"
                        },
                        "docUrl": {
                          "type": "string",
                          "format": "uri"
                        },
                        "statusCode": {
                          "type": "integer",
                          "minimum": 100,
                          "maximum": 599
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Maximum requests in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining requests in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp when the current window resets.",
                "schema": {
                  "type": "integer"
                }
              },
              "Retry-After": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "error"
                  ],
                  "properties": {
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        },
                        "hint": {
                          "type": "string"
                        },
                        "docUrl": {
                          "type": "string",
                          "format": "uri"
                        },
                        "statusCode": {
                          "type": "integer",
                          "minimum": 100,
                          "maximum": 599
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/connect/session": {
      "post": {
        "tags": [
          "Hosted connect"
        ],
        "operationId": "getHostedConnectSession",
        "summary": "Resolve a hosted connect session",
        "security": [
          {
            "ConnectSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Hosted connect session and effective services",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "const": "no-store, private"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "error"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "externalUserId",
                        "allowedOrigin",
                        "services",
                        "expiresAt"
                      ],
                      "properties": {
                        "externalUserId": {
                          "type": "string"
                        },
                        "allowedOrigin": {
                          "type": "string",
                          "format": "uri"
                        },
                        "services": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": [
                              "serviceId",
                              "status",
                              "connected",
                              "expiresAt"
                            ],
                            "properties": {
                              "serviceId": {
                                "type": "string"
                              },
                              "status": {
                                "type": "string",
                                "enum": [
                                  "disconnected",
                                  "pending",
                                  "connected",
                                  "expired",
                                  "error"
                                ]
                              },
                              "connected": {
                                "type": "boolean"
                              },
                              "expiresAt": {
                                "type": [
                                  "string",
                                  "null"
                                ],
                                "format": "date-time"
                              },
                              "connectedAt": {
                                "type": [
                                  "string",
                                  "null"
                                ],
                                "format": "date-time"
                              },
                              "lastCheckedAt": {
                                "type": [
                                  "string",
                                  "null"
                                ],
                                "format": "date-time"
                              },
                              "errorCode": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              }
                            }
                          }
                        },
                        "expiresAt": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    },
                    "error": {
                      "type": "null"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authlane request error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "error"
                  ],
                  "properties": {
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        },
                        "hint": {
                          "type": "string"
                        },
                        "docUrl": {
                          "type": "string",
                          "format": "uri"
                        },
                        "statusCode": {
                          "type": "integer",
                          "minimum": 100,
                          "maximum": 599
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "410": {
            "description": "Authlane request error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "error"
                  ],
                  "properties": {
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        },
                        "hint": {
                          "type": "string"
                        },
                        "docUrl": {
                          "type": "string",
                          "format": "uri"
                        },
                        "statusCode": {
                          "type": "integer",
                          "minimum": 100,
                          "maximum": 599
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/connect/{serviceId}/authorize": {
      "post": {
        "tags": [
          "Hosted connect"
        ],
        "operationId": "authorizeConnection",
        "summary": "Begin provider authorization",
        "security": [
          {
            "ConnectSession": []
          }
        ],
        "parameters": [
          {
            "name": "serviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9-]+$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "parentOrigin"
                ],
                "properties": {
                  "parentOrigin": {
                    "type": "string",
                    "format": "uri"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Provider authorization URL",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "error"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "authorizationUrl"
                      ],
                      "properties": {
                        "authorizationUrl": {
                          "type": "string",
                          "format": "uri"
                        }
                      }
                    },
                    "error": {
                      "type": "null"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Authlane request error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "error"
                  ],
                  "properties": {
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        },
                        "hint": {
                          "type": "string"
                        },
                        "docUrl": {
                          "type": "string",
                          "format": "uri"
                        },
                        "statusCode": {
                          "type": "integer",
                          "minimum": 100,
                          "maximum": 599
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authlane request error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "error"
                  ],
                  "properties": {
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        },
                        "hint": {
                          "type": "string"
                        },
                        "docUrl": {
                          "type": "string",
                          "format": "uri"
                        },
                        "statusCode": {
                          "type": "integer",
                          "minimum": 100,
                          "maximum": 599
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Authlane request error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "error"
                  ],
                  "properties": {
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        },
                        "hint": {
                          "type": "string"
                        },
                        "docUrl": {
                          "type": "string",
                          "format": "uri"
                        },
                        "statusCode": {
                          "type": "integer",
                          "minimum": 100,
                          "maximum": 599
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/connect/{serviceId}": {
      "delete": {
        "tags": [
          "Hosted connect"
        ],
        "operationId": "disconnectConnection",
        "summary": "Disconnect an external user's service",
        "description": "Requires a connect session minted after recent tenant-controlled reauthentication.",
        "security": [
          {
            "ConnectSession": []
          }
        ],
        "parameters": [
          {
            "name": "serviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9-]+$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "parentOrigin"
                ],
                "properties": {
                  "parentOrigin": {
                    "type": "string",
                    "format": "uri"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated disconnected state",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "error"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "serviceId",
                        "status",
                        "connected",
                        "expiresAt"
                      ],
                      "properties": {
                        "serviceId": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "disconnected",
                            "pending",
                            "connected",
                            "expired",
                            "error"
                          ]
                        },
                        "connected": {
                          "type": "boolean"
                        },
                        "expiresAt": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "format": "date-time"
                        },
                        "connectedAt": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "format": "date-time"
                        },
                        "lastCheckedAt": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "format": "date-time"
                        },
                        "errorCode": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      }
                    },
                    "error": {
                      "type": "null"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authlane request error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "error"
                  ],
                  "properties": {
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        },
                        "hint": {
                          "type": "string"
                        },
                        "docUrl": {
                          "type": "string",
                          "format": "uri"
                        },
                        "statusCode": {
                          "type": "integer",
                          "minimum": 100,
                          "maximum": 599
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Authlane request error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "error"
                  ],
                  "properties": {
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        },
                        "hint": {
                          "type": "string"
                        },
                        "docUrl": {
                          "type": "string",
                          "format": "uri"
                        },
                        "statusCode": {
                          "type": "integer",
                          "minimum": 100,
                          "maximum": 599
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Authlane request error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "error"
                  ],
                  "properties": {
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        },
                        "hint": {
                          "type": "string"
                        },
                        "docUrl": {
                          "type": "string",
                          "format": "uri"
                        },
                        "statusCode": {
                          "type": "integer",
                          "minimum": 100,
                          "maximum": 599
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/oauth/{serviceId}/callback": {
      "get": {
        "tags": [
          "OAuth"
        ],
        "operationId": "oauthCallback",
        "summary": "Validate state and exchange the provider code",
        "security": [],
        "parameters": [
          {
            "name": "serviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9-]+$"
            }
          },
          {
            "name": "code",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "error",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "302": {
            "description": "Redirect to the hosted connect callback"
          },
          "400": {
            "description": "Authlane request error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "error"
                  ],
                  "properties": {
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        },
                        "hint": {
                          "type": "string"
                        },
                        "docUrl": {
                          "type": "string",
                          "format": "uri"
                        },
                        "statusCode": {
                          "type": "integer",
                          "minimum": 100,
                          "maximum": 599
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "webhooks": {
    "connectionLifecycle": {
      "post": {
        "operationId": "receiveConnectionLifecycleEvent",
        "summary": "Receive a signed connection lifecycle event",
        "parameters": [
          {
            "name": "X-Authlane-Signature",
            "in": "header",
            "required": true,
            "description": "Hex HMAC-SHA256 of `<timestamp>.<raw-body>` using the webhook secret.",
            "schema": {
              "type": "string",
              "pattern": "^[0-9a-f]{64}$"
            }
          },
          {
            "name": "X-Authlane-Timestamp",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Authlane-Event",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "connection.connected",
                "connection.disconnected",
                "connection.expired",
                "connection.refreshed",
                "connection.error"
              ]
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "id",
                  "event",
                  "createdAt",
                  "externalUserId",
                  "serviceId"
                ],
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "event": {
                    "type": "string",
                    "enum": [
                      "connection.connected",
                      "connection.disconnected",
                      "connection.expired",
                      "connection.refreshed",
                      "connection.error"
                    ]
                  },
                  "createdAt": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "externalUserId": {
                    "type": "string"
                  },
                  "serviceId": {
                    "type": "string"
                  },
                  "connection": {
                    "type": "object",
                    "required": [
                      "serviceId",
                      "status",
                      "connected",
                      "expiresAt"
                    ],
                    "properties": {
                      "serviceId": {
                        "type": "string"
                      },
                      "status": {
                        "type": "string",
                        "enum": [
                          "disconnected",
                          "pending",
                          "connected",
                          "expired",
                          "error"
                        ]
                      },
                      "connected": {
                        "type": "boolean"
                      },
                      "expiresAt": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "format": "date-time"
                      },
                      "connectedAt": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "format": "date-time"
                      },
                      "lastCheckedAt": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "format": "date-time"
                      },
                      "errorCode": {
                        "type": [
                          "string",
                          "null"
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Event accepted"
          },
          "204": {
            "description": "Event accepted without a response body"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKey": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "Authlane scoped API key",
        "description": "Server-only tenant API key."
      },
      "ConnectSession": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Use `ConnectSession <opaque-token>` from the hosted browser handoff."
      }
    },
    "parameters": {
      "ExternalUserId": {
        "name": "externalUserId",
        "in": "path",
        "required": true,
        "description": "Opaque 1–255 character identifier from the authenticated SaaS session.",
        "schema": {
          "type": "string",
          "minLength": 1,
          "maxLength": 255
        }
      },
      "ServiceId": {
        "name": "serviceId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "pattern": "^[a-z0-9-]+$"
        }
      },
      "ToolFormat": {
        "name": "format",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "mcp",
            "openai"
          ],
          "default": "mcp"
        }
      }
    },
    "headers": {
      "RateLimitLimit": {
        "description": "Maximum requests in the current window.",
        "schema": {
          "type": "integer"
        }
      },
      "RateLimitRemaining": {
        "description": "Remaining requests in the current window.",
        "schema": {
          "type": "integer"
        }
      },
      "RateLimitReset": {
        "description": "Unix timestamp when the current window resets.",
        "schema": {
          "type": "integer"
        }
      }
    },
    "responses": {
      "Error": {
        "description": "Authlane request error",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": [
                "data",
                "error"
              ],
              "properties": {
                "data": {
                  "type": "null"
                },
                "error": {
                  "type": "object",
                  "required": [
                    "message",
                    "code"
                  ],
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "hint": {
                      "type": "string"
                    },
                    "docUrl": {
                      "type": "string",
                      "format": "uri"
                    },
                    "statusCode": {
                      "type": "integer",
                      "minimum": 100,
                      "maximum": 599
                    }
                  }
                }
              }
            }
          }
        }
      },
      "RateLimited": {
        "description": "Rate limit exceeded",
        "headers": {
          "X-RateLimit-Limit": {
            "description": "Maximum requests in the current window.",
            "schema": {
              "type": "integer"
            }
          },
          "X-RateLimit-Remaining": {
            "description": "Remaining requests in the current window.",
            "schema": {
              "type": "integer"
            }
          },
          "X-RateLimit-Reset": {
            "description": "Unix timestamp when the current window resets.",
            "schema": {
              "type": "integer"
            }
          },
          "Retry-After": {
            "schema": {
              "type": "integer"
            }
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": [
                "data",
                "error"
              ],
              "properties": {
                "data": {
                  "type": "null"
                },
                "error": {
                  "type": "object",
                  "required": [
                    "message",
                    "code"
                  ],
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "hint": {
                      "type": "string"
                    },
                    "docUrl": {
                      "type": "string",
                      "format": "uri"
                    },
                    "statusCode": {
                      "type": "integer",
                      "minimum": 100,
                      "maximum": 599
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "schemas": {
      "AuthlaneError": {
        "type": "object",
        "required": [
          "message",
          "code"
        ],
        "properties": {
          "message": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "hint": {
            "type": "string"
          },
          "docUrl": {
            "type": "string",
            "format": "uri"
          },
          "statusCode": {
            "type": "integer",
            "minimum": 100,
            "maximum": 599
          }
        }
      },
      "ErrorResult": {
        "type": "object",
        "required": [
          "data",
          "error"
        ],
        "properties": {
          "data": {
            "type": "null"
          },
          "error": {
            "type": "object",
            "required": [
              "message",
              "code"
            ],
            "properties": {
              "message": {
                "type": "string"
              },
              "code": {
                "type": "string"
              },
              "hint": {
                "type": "string"
              },
              "docUrl": {
                "type": "string",
                "format": "uri"
              },
              "statusCode": {
                "type": "integer",
                "minimum": 100,
                "maximum": 599
              }
            }
          }
        }
      },
      "Service": {
        "type": "object",
        "required": [
          "id",
          "name",
          "authType",
          "enabled"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "authType": {
            "type": "string",
            "enum": [
              "oauth2",
              "api_key"
            ]
          },
          "enabled": {
            "type": "boolean"
          }
        }
      },
      "CatalogResult": {
        "type": "object",
        "required": [
          "data",
          "error"
        ],
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "id",
                "name",
                "authType",
                "enabled"
              ],
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "authType": {
                  "type": "string",
                  "enum": [
                    "oauth2",
                    "api_key"
                  ]
                },
                "enabled": {
                  "type": "boolean"
                }
              }
            }
          },
          "error": {
            "type": "null"
          }
        }
      },
      "Connection": {
        "type": "object",
        "required": [
          "serviceId",
          "status",
          "connected",
          "expiresAt"
        ],
        "properties": {
          "serviceId": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "disconnected",
              "pending",
              "connected",
              "expired",
              "error"
            ]
          },
          "connected": {
            "type": "boolean"
          },
          "expiresAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "connectedAt": {
[...]
