openapi: 3.0.3
info:
  title: Authlane API
  description: |
    Authlane is an open-source OAuth credential management platform for AI agents
    and SaaS applications. This API enables you to manage service connections,
    retrieve OAuth credentials, and execute tools on behalf of your users.

    ## Authentication

    The API supports two authentication methods:

    - **API Key**: For programmatic access. Include in the `Authorization` header as `Bearer ak_...`
    - **Session Cookie**: For dashboard access. Managed automatically by the browser.

    ## Response Format

    All responses follow the Supabase-style format:

    ```json
    {
      "data": { ... },
      "error": null
    }
    ```

    On error:
    ```json
    {
      "data": null,
      "error": {
        "message": "Human-readable message",
        "code": "ERROR_CODE",
        "hint": "How to fix this",
        "statusCode": 400
      }
    }
    ```

    ## Rate Limiting

    - Standard endpoints: 100 requests/minute
    - Credential endpoints: 60 requests/minute
    - Tool execution: 60 requests/minute per user

  version: 1.0.0
  contact:
    name: Authlane Support
    url: https://authlane.com/support
    email: support@authlane.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.authlane.com/api/v1
    description: Production
  - url: https://staging.authlane.com/api/v1
    description: Staging
  - url: http://localhost:3000/api/v1
    description: Local Development

tags:
  - name: Services
    description: Available services and their configurations
  - name: Connections
    description: User service connections
  - name: OAuth
    description: OAuth 2.0 flow endpoints
  - name: Tools
    description: Tool definitions and execution
  - name: Dashboard
    description: Dashboard management endpoints

paths:
  # Services
  /services:
    get:
      tags: [Services]
      summary: List all services
      description: Retrieve a list of all available services for connection.
      operationId: listServices
      parameters:
        - name: enabled
          in: query
          schema:
            type: boolean
          description: Filter by enabled status
        - name: authType
          in: query
          schema:
            type: string
            enum: [oauth2, api_key, none]
          description: Filter by authentication type
      responses:
        '200':
          description: List of services
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServicesListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /services/{serviceId}:
    get:
      tags: [Services]
      summary: Get service details
      description: Retrieve details for a specific service.
      operationId: getService
      parameters:
        - $ref: '#/components/parameters/ServiceId'
      responses:
        '200':
          description: Service details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  # Connections
  /users/{userId}/connections:
    get:
      tags: [Connections]
      summary: List user connections
      description: Retrieve all connections for a specific user.
      operationId: listConnections
      parameters:
        - $ref: '#/components/parameters/UserId'
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, connected, expired, error]
          description: Filter by connection status
        - name: serviceId
          in: query
          schema:
            type: string
          description: Filter by service
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
            maximum: 100
          description: Maximum results
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
          description: Pagination offset
      responses:
        '200':
          description: List of connections
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionsListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
      security:
        - apiKey: []

  /users/{userId}/connections/{serviceId}/credential-leases:
    post:
      tags: [Connections]
      summary: Issue access-only credential material
      description: Server-only, audited, non-cacheable response. OAuth refresh and ID tokens are never returned.
      operationId: createCredentialLease
      parameters:
        - $ref: '#/components/parameters/UserId'
        - $ref: '#/components/parameters/ServiceId'
      responses:
        '201':
          description: Access-only credential lease
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CredentialLeaseResponse'
        '400':
          description: Connection expired
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
        - apiKey: []

  /users/{userId}/connections/{serviceId}/health:
    get:
      tags: [Connections]
      summary: Health check connection
      description: Test if a user's service connection is valid and working.
      operationId: healthCheckConnection
      parameters:
        - $ref: '#/components/parameters/UserId'
        - $ref: '#/components/parameters/ServiceId'
      responses:
        '200':
          description: Health check result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthCheckResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
        - apiKey: []

  /users/{userId}/connections/{serviceId}:
    delete:
      tags: [Connections]
      summary: Delete connection
      description: Remove a user's service connection and all associated data.
      operationId: deleteConnection
      parameters:
        - $ref: '#/components/parameters/UserId'
        - $ref: '#/components/parameters/ServiceId'
        - name: revokeToken
          in: query
          schema:
            type: boolean
            default: false
          description: Also revoke token at provider
      responses:
        '200':
          description: Connection deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteConnectionResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
        - apiKey: []

  # OAuth
  /users/{userId}/connections/{serviceId}/authorize:
    get:
      tags: [OAuth]
      summary: Start OAuth flow
      description: Initiate the OAuth 2.0 authorization flow for connecting a service.
      operationId: authorize
      parameters:
        - $ref: '#/components/parameters/UserId'
        - $ref: '#/components/parameters/ServiceId'
        - name: scope
          in: query
          schema:
            type: string
            enum: [user, organization]
          description: Connection scope
        - name: redirect_uri
          in: query
          schema:
            type: string
            format: uri
          description: Where to redirect after OAuth
        - name: state
          in: query
          schema:
            type: string
          description: Additional state to preserve
      responses:
        '200':
          description: Authorization URL generated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizeResponse'
        '400':
          description: Service disabled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
        - apiKey: []

  /oauth/callback:
    get:
      tags: [OAuth]
      summary: OAuth callback
      description: Handle the OAuth 2.0 callback from the provider.
      operationId: oauthCallback
      parameters:
        - name: code
          in: query
          schema:
            type: string
          description: Authorization code from provider
        - name: state
          in: query
          required: true
          schema:
            type: string
          description: State parameter for verification
        - name: error
          in: query
          schema:
            type: string
          description: Error code if authorization failed
        - name: error_description
          in: query
          schema:
            type: string
          description: Human-readable error description
      responses:
        '302':
          description: Redirect to success or error URL

  # Tools
  /users/{userId}/tools:
    get:
      tags: [Tools]
      summary: List available tools
      description: Retrieve tool definitions for a user's connected services.
      operationId: listTools
      parameters:
        - $ref: '#/components/parameters/UserId'
        - name: format
          in: query
          schema:
            type: string
            enum: [mcp, openai]
            default: mcp
          description: Output format for tool definitions
        - name: serviceId
          in: query
          schema:
            type: string
          description: Filter to specific service
      responses:
        '200':
          description: Tool definitions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ToolsListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
      security:
        - apiKey: []

  /users/{userId}/tools/{toolName}/execute:
    post:
      tags: [Tools]
      summary: Execute a tool
      description: Execute a tool on behalf of a user using their connected service credentials.
      operationId: executeTool
      parameters:
        - $ref: '#/components/parameters/UserId'
        - name: toolName
          in: path
          required: true
          schema:
            type: string
          description: Tool identifier (e.g., "github_create_issue")
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExecuteToolRequest'
      responses:
        '200':
          description: Tool execution result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExecuteToolResponse'
        '400':
          description: Invalid parameters or connection required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '502':
          description: Provider API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - apiKey: []

  # Dashboard
  /dashboard/stats:
    get:
      tags: [Dashboard]
      summary: Get dashboard stats
      description: Retrieve usage statistics for the dashboard.
      operationId: getDashboardStats
      parameters:
        - name: period
          in: query
          schema:
            type: string
            enum: [day, week, month]
            default: month
          description: Time period for stats
      responses:
        '200':
          description: Dashboard statistics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DashboardStatsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
      security:
        - sessionAuth: []

  /dashboard/api-keys:
    get:
      tags: [Dashboard]
      summary: List API keys
      description: Retrieve all API keys for the organization.
      operationId: listApiKeys
      responses:
        '200':
          description: List of API keys
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeysListResponse'
      security:
        - sessionAuth: []

    post:
      tags: [Dashboard]
      summary: Create API key
      description: Create a new API key for the organization.
      operationId: createApiKey
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateApiKeyRequest'
      responses:
        '201':
          description: API key created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateApiKeyResponse'
      security:
        - sessionAuth: []

  /dashboard/api-keys/{keyId}:
    delete:
      tags: [Dashboard]
      summary: Delete API key
      description: Delete an API key.
      operationId: deleteApiKey
      parameters:
        - name: keyId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: API key deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteApiKeyResponse'
      security:
        - sessionAuth: []

  /dashboard/organization:
    get:
      tags: [Dashboard]
      summary: Get organization
      description: Retrieve organization details and settings.
      operationId: getOrganization
      responses:
        '200':
          description: Organization details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationResponse'
      security:
        - sessionAuth: []

    patch:
      tags: [Dashboard]
      summary: Update organization
      description: Update organization settings.
      operationId: updateOrganization
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrganizationRequest'
      responses:
        '200':
          description: Organization updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateOrganizationResponse'
      security:
        - sessionAuth: []

  /dashboard/organization/services:
    get:
      tags: [Dashboard]
      summary: List organization services
      description: Retrieve all services with organization-specific configuration.
      operationId: listOrganizationServices
      responses:
        '200':
          description: List of organization services
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationServicesListResponse'
      security:
        - sessionAuth: []

  /dashboard/organization/services/{serviceId}:
    get:
      tags: [Dashboard]
      summary: Get organization service config
      description: Retrieve detailed configuration for a specific service.
      operationId: getOrganizationService
      parameters:
        - $ref: '#/components/parameters/ServiceId'
      responses:
        '200':
          description: Service configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationServiceResponse'
      security:
        - sessionAuth: []

    put:
      tags: [Dashboard]
      summary: Update organization service config
      description: Update organization-specific settings for a service.
      operationId: updateOrganizationService
      parameters:
        - $ref: '#/components/parameters/ServiceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrganizationServiceRequest'
      responses:
        '200':
          description: Service configuration updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateOrganizationServiceResponse'
      security:
        - sessionAuth: []

  /dashboard/organization/members:
    get:
      tags: [Dashboard]
      summary: List organization members
      description: Retrieve all organization members and pending invitations.
      operationId: listMembers
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [active, pending, all]
      responses:
        '200':
          description: List of members
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MembersListResponse'
      security:
        - sessionAuth: []

  /dashboard/organization/members/invite:
    post:
      tags: [Dashboard]
      summary: Invite member
      description: Send an invitation to join the organization.
      operationId: inviteMember
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InviteMemberRequest'
      responses:
        '201':
          description: Invitation sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InviteMemberResponse'
      security:
        - sessionAuth: []

  /dashboard/organization/members/{memberId}:
    patch:
      tags: [Dashboard]
      summary: Update member role
      description: Change a member's role.
      operationId: updateMemberRole
      parameters:
        - name: memberId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMemberRequest'
      responses:
        '200':
          description: Member role updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateMemberResponse'
      security:
        - sessionAuth: []

    delete:
      tags: [Dashboard]
      summary: Remove member
      description: Remove a member from the organization.
      operationId: removeMember
      parameters:
        - name: memberId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Member removed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoveMemberResponse'
      security:
        - sessionAuth: []

components:
  securitySchemes:
    apiKey:
      type: http
      scheme: bearer
      description: API key authentication. Use your API key as the bearer token.
    sessionAuth:
      type: apiKey
      in: cookie
      name: session
      description: Session-based authentication for dashboard access.

  parameters:
    UserId:
      name: userId
      in: path
      required: true
      schema:
        type: string
      description: External user ID

    ServiceId:
      name: serviceId
      in: path
      required: true
      schema:
        type: string
      description: Service identifier (e.g., "github")

  responses:
    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            data: null
            error:
              message: Authentication required
              code: UNAUTHORIZED
              statusCode: 401

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            data: null
            error:
              message: Resource not found
              code: NOT_FOUND
              statusCode: 404

  schemas:
    # Base schemas
    ErrorResponse:
      type: object
      properties:
        data:
          type: 'null'
        error:
          $ref: '#/components/schemas/Error'

    Error:
      type: object
      required:
        - message
        - code
        - statusCode
      properties:
        message:
          type: string
          description: Human-readable error message
        code:
          type: string
          description: Error code for programmatic handling
        hint:
          type: string
          description: How to fix this error
        statusCode:
          type: integer
          description: HTTP status code
        details:
          type: object
          description: Additional error details

    Pagination:
      type: object
      properties:
        total:
          type: integer
        limit:
          type: integer
        offset:
          type: integer
        hasMore:
          type: boolean

    # Service schemas
    Service:
      type: object
      properties:
        id:
          type: string
          example: github
        name:
          type: string
          example: GitHub
        authType:
          type: string
          enum: [oauth2, api_key, none]
        enabled:
          type: boolean
        config:
          $ref: '#/components/schemas/ServiceConfig'

    ServiceConfig:
      type: object
      properties:
        authorization_url:
          type: string
          format: uri
        token_url:
          type: string
          format: uri
        scopes:
          type: array
          items:
            type: string
        base_url:
          type: string
          format: uri
        documentation_url:
          type: string
          format: uri
        icon:
          type: string
          format: uri
        color:
          type: string
        description:
          type: string

    ServicesListResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/Service'
            total:
              type: integer
        error:
          type: 'null'

    ServiceResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/Service'
        error:
          type: 'null'

    # Connection schemas
    Connection:
      type: object
      properties:
        id:
          type: string
          example: conn_abc123
        scope:
          type: string
          enum: [user, organization]
        userId:
          type: string
        organizationId:
          type: string
        externalUserId:
          type: string
        serviceId:
          type: string
        status:
          type: string
          enum: [pending, connected, expired, error]
        metadata:
          type: object
        connectedAt:
          type: string
          format: date-time
        expiresAt:
          type: string
          format: date-time
          nullable: true
        createdAt:
          type: string
          format: date-time

    ConnectionsListResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/Connection'
            pagination:
              $ref: '#/components/schemas/Pagination'
        error:
          type: 'null'

    CredentialLeaseResponse:
      type: object
      required: [data, error]
      properties:
        data:
          type: object
          required: [type, leaseId]
          properties:
            type:
              type: string
              enum: [oauth2, api_key]
            leaseId:
              type: string
              format: uuid
            accessToken:
              type: string
              description: Present only for OAuth2 leases
            tokenType:
              type: string
            scopes:
              type: array
              items:
                type: string
            value:
              type: string
              description: Present only for API-key leases
            placement:
              type: object
            expiresAt:
              type: string
              format: date-time
              nullable: true
        error:
          type: 'null'

    HealthCheckResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            healthy:
              type: boolean
            status:
              type: string
            lastChecked:
              type: string
              format: date-time
            responseTime:
              type: integer
              nullable: true
            details:
              type: object
              properties:
                tokenValid:
                  type: boolean
                scopesValid:
                  type: boolean
                apiReachable:
                  type: boolean
                reason:
                  type: string
        error:
          type: 'null'

    DeleteConnectionResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            deleted:
              type: boolean
            connectionId:
              type: string
            serviceId:
              type: string
            tokenRevoked:
              type: boolean
        error:
          type: 'null'

    # OAuth schemas
    AuthorizeResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            authorizationUrl:
              type: string
              format: uri
            state:
              type: string
            connectionId:
              type: string
        error:
          type: 'null'

    # Tool schemas
    Tool:
      type: object
      properties:
        name:
          type: string
          example: github_create_issue
        description:
          type: string
        inputSchema:
          type: object

    ToolsListResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            tools:
              type: array
              items:
                $ref: '#/components/schemas/Tool'
        error:
          type: 'null'

    ExecuteToolRequest:
      type: object
      required:
        - parameters
      properties:
        parameters:
          type: object
          description: Tool-specific parameters

    ExecuteToolResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            result:
              type: object
            executionTime:
              type: integer
        error:
          type: 'null'

    # Dashboard schemas
    DashboardStatsResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            overview:
              type: object
              properties:
                totalUsers:
                  type: integer
                totalConnections:
                  type: integer
                activeConnections:
                  type: integer
                totalApiCalls:
                  type: integer
                servicesUsed:
                  type: integer
            connectionsByService:
              type: array
              items:
                type: object
                properties:
                  serviceId:
                    type: string
                  serviceName:
                    type: string
                  count:
                    type: integer
                  percentage:
                    type: number
            connectionsByStatus:
              type: object
            apiUsage:
              type: object
            recentActivity:
              type: array
              items:
                type: object
        error:
          type: 'null'

    ApiKey:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        prefix:
          type: string
        lastUsed:
          type: string
          format: date-time
          nullable: true
        createdAt:
          type: string
          format: date-time
        expiresAt:
          type: string
          format: date-time
          nullable: true
        scopes:
          type: array
          items:
            type: string
        environment:
          type: string
          enum: [production, development, staging]

    ApiKeysListResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/ApiKey'
            total:
              type: integer
        error:
          type: 'null'

    CreateApiKeyRequest:
      type: object
      required:
        - name
        - scopes
      properties:
        name:
          type: string
        scopes:
          type: array
          items:
            type: string
        environment:
          type: string
          enum: [production, development, staging]
        expiresAt:
          type: string
          format: date-time
          nullable: true

    CreateApiKeyResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
            name:
              type: string
            key:
              type: string
              description: Full API key - only returned once at creation
            prefix:
              type: string
            scopes:
              type: array
              items:
                type: string
            environment:
              type: string
            createdAt:
              type: string
              format: date-time
            expiresAt:
              type: string
              format: date-time
              nullable: true
        error:
          type: 'null'

    DeleteApiKeyResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            deleted:
              type: boolean
            keyId:
              type: string
        error:
          type: 'null'

    OrganizationResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
            name:
              type: string
            slug:
              type: string
            logo:
              type: string
              nullable: true
            settings:
              type: object
            plan:
              type: object
            usage:
              type: object
            createdAt:
              type: string
              format: date-time
            updatedAt:
              type: string
              format: date-time
        error:
          type: 'null'

    UpdateOrganizationRequest:
      type: object
      properties:
        name:
          type: string
        logo:
          type: string
        settings:
          type: object
          properties:
            oauthRedirectUrls:
              type: object
              properties:
                success:
                  type: string
                  format: uri
                error:
                  type: string
                  format: uri
            webhookUrl:
              type: string
              format: uri
            allowedDomains:
              type: array
              items:
                type: string

    UpdateOrganizationResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
            name:
              type: string
            updated:
              type: boolean
            updatedAt:
              type: string
              format: date-time
        error:
          type: 'null'

    OrganizationServicesListResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            items:
              type: array
              items:
                type: object
                properties:
                  serviceId:
                    type: string
                  serviceName:
                    type: string
                  enabled:
                    type: boolean
                  hasCustomCredentials:
                    type: boolean
                  connectionCount:
                    type: integer
                  lastConnectionAt:
                    type: string
                    format: date-time
                    nullable: true
            total:
              type: integer
        error:
          type: 'null'

    OrganizationServiceResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            serviceId:
              type: string
            serviceName:
              type: string
            enabled:
              type: boolean
            config:
              type: object
            stats:
              type: object
            createdAt:
              type: string
              format: date-time
            updatedAt:
              type: string
              format: date-time
        error:
          type: 'null'

    UpdateOrganizationServiceRequest:
      type: object
      properties:
        enabled:
          type: boolean
        clientId:
          type: string
        clientSecret:
          type: string
        scopes:
          type: array
          items:
            type: string

    UpdateOrganizationServiceResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            serviceId:
              type: string
            enabled:
              type: boolean
            updated:
              type: boolean
            config:
              type: object
        error:
          type: 'null'

    Member:
      type: object
      properties:
        id:
          type: string
        userId:
          type: string
        email:
          type: string
        name:
          type: string
        role:
          type: string
          enum: [owner, admin, member]
        status:
          type: string
          enum: [active, pending]
        joinedAt:
          type: string
          format: date-time
        lastActiveAt:
          type: string
          format: date-time
          nullable: true

    Invitation:
      type: object
      properties:
        id:
          type: string
        email:
          type: string
        role:
          type: string
        status:
          type: string
        invitedBy:
          type: string
        invitedAt:
          type: string
          format: date-time
        expiresAt:
          type: string
          format: date-time

    MembersListResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            members:
              type: array
              items:
                $ref: '#/components/schemas/Member'
            invitations:
              type: array
              items:
                $ref: '#/components/schemas/Invitation'
            total:
              type: object
              properties:
                members:
                  type: integer
                invitations:
                  type: integer
        error:
          type: 'null'

    InviteMemberRequest:
      type: object
      required:
        - email
        - role
      properties:
        email:
          type: string
          format: email
        role:
          type: string
          enum: [admin, member]
        message:
          type: string

    InviteMemberResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            invitationId:
              type: string
            email:
              type: string
            role:
              type: string
            expiresAt:
              type: string
              format: date-time
            inviteUrl:
              type: string
              format: uri
        error:
          type: 'null'

    UpdateMemberRequest:
      type: object
      required:
        - role
      properties:
        role:
          type: string
          enum: [admin, member]

    UpdateMemberResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            memberId:
              type: string
            role:
              type: string
            updatedAt:
              type: string
              format: date-time
        error:
          type: 'null'

    RemoveMemberResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            removed:
              type: boolean
            memberId:
              type: string
            email:
              type: string
        error:
          type: 'null'
